html {
    background-image: url("background.jpg");
     /* Full height */
     height: 100%; 

     /* Center and scale the image nicely */
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;

}

.mario > img{
    width: 150px;
    height: 200px;
    position: relative;
    left: 500px;
    top: 300px;
}

.star > img{
    width: 200px;
    height: 200px;
    position: relative;
    left: 550px;
    top: 100px;
}

.flag > Img {
    width: 200px;
    height: 300px;
    left: 1000px;
    position: relative;
}